# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Jaga kerahasiaan data sensitif (Wajib!)
.env
.env.*
!.env.example

# Hasil generate Prisma lokal (opsional, biar gak konflik di cloud)
/prisma/migrations