node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Jaga kerahasiaan data sensitif (Wajib!)
.env.*
!.env.example

# Hasil generate Prisma lokal (opsional, biar gak konflik di cloud)
/prisma/migrations
